<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Форма авторизации</title>
</head>
<body>

<h2>Авторизация</h2>
<form action="/authorization/" method="post">
    <!-- Поля для ввода логина -->
    <label for="username">Логин:</label>
    <input type="text" id="username" name="username" required><br><br>

    <!-- Поля для ввода пароля -->
    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required><br><br>

    <!-- Кнопка отправки формы -->
    <input type="submit" value="Войти">
</form>
</body>
</html>
